.services__hero-container {
  background-image: url(../../assets/wash3.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 120%;
}

.services__main-container {
  padding: 4rem ;
}

.services__main-split {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.services__main-residential {
  flex-basis: 48%;
}

.services__main_residential-image {
  background-image: url(../../assets/resi.jpeg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.services__main_commercial-image {
  background-image: url(../../assets/commer.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}


.services__main-commercial {
  flex-basis: 48%;
}

.services__main-bottom {
  margin: 4rem 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.services__main_bottom-jobs {
  margin-top: 4rem;
  flex-basis: 30%;

  svg {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .services__hero-container {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 100% -10%;
  }

  .services__main-container {
    padding: 1rem ;
    
    h1 {
      margin: 1rem 0 0 0;
    }
  }

  .services__main-residential,
  .services__main-commercial
  {
    flex-basis: 100%;
  }

  .services__main_residential-image,
  .services__main_commercial-image {
    height: 250px;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .services__main-bottom {
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }

  .services__main_bottom-jobs {
    padding: 0.5rem 0.5rem;
    flex-basis: 45%;
  }

  .services__main_bottom-jobs:nth-of-type(1),
  .services__main_bottom-jobs:nth-of-type(4),
  .services__main_bottom-jobs:nth-of-type(5) {
    background: #b7b7b7;
    border-radius: 10px;
    
  }

}