.footer-container {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  background: skyblue;
}

.footer__hours-container,
.footer__contact-container,
.footer__social-container {
  text-align: center;
}

.footer__hours-container {
  width: 100%;
  font-size: 1.5rem;
}

.footer__hours-container-mobile {
  display: none;
}

.footer__contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .footer__contact-info {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.3rem;
    }
  }
}

.footer__social-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;

  .footer__social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10%;
    padding: 0 4rem;
  
    svg {
      font-size: 80px;
      margin: 0 4rem 3rem 4rem;

    }
  }
}

.fbook {
  color: #3866dc;
}

.yelp {
  color: #d70c0c;
}

.twit {
  color: rgb(34, 99, 190);
}

@media (max-width: 480px) {

  .footer-container {
    text-align: left;
    padding: 1rem 1rem;
    flex-direction: column;

    h1 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  }

  .footer__hours-container {
    display: none;
  }

  .footer__hours-container-mobile {
    display: block;
    width: 100%;
    font-size: 1rem;
  }

  .footer__contact-container {

    h1 {
      display: none;
    }

    h2 {
      text-align: left;
      font-size: 1.5rem;
      margin-top: 2rem;
    }
    .footer__contact-info {
      display: flex;
      flex-direction: column;
  
      p {
        text-align: left;
        font-size: 1rem;
      }
    }
  }

  .footer__social-container {
    display: flex;

    h1 {
      text-align: left;
    }
  
    .footer__social-icons {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 1rem 2rem 1rem;
    
      svg {
        font-size: 45px;
        margin: 0;
      }
    }
  }
}

svg:hover {
  background: #fff;
  border-radius: 20px;
}