.faq__hero-container {
  background-image: url(../../assets/faq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 150%;
}

.faq__main-container {
  padding: 2rem 4rem 8rem 4rem;
}

.faq__main-intro {
  text-align: left;

}

.faq__main-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.question-filler {
  flex-basis: 40%;
  margin: 1rem 0;
  border: 2px solid #000;
  padding: 0 1rem;

  h4 {
    border-radius: 20px;
    background: skyblue;
    padding-left: 10px;
  }

  span {
    font-size: xx-large;
    color: #fff;
  }
}

@media (max-width:480px) {
  .faq__hero-container {
    background-size: 200%;
    background-position: 50% -15%;
  }

  .faq__main-container {
    padding: 1rem;

    h1 {
      margin: 0;
    }
  }

  .question-filler {
    flex-basis: 100%;
    margin: 1rem 0;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
  
    h4 {
      border-radius: 10px;
      background: none;
      padding: 0;
      margin: 1rem 0;
      text-align: center;
    }
  
    span {
      font-size: xx-large;
      color: skyblue;
    }
  }

  .question-filler:nth-of-type(odd) {
    background: #b7b7b7;
  }
}